@import url(layout.css);

.container {
    border: 2px solid black;
    margin: 200px;
    height: 1000px;
    position: relative;
}

.static {
    position: static;
}

.relative {
    position: relative;
    top: 25px;
    left:25px;
    background-color: aqua;
    z-index: auto;
}

.absolute {
    position: absolute;
    top: 25px;
    left:25px;
}

.fixed {
    position: fixed;
    top: 10px;
    left:10px;
}

.sticky {
    position: sticky;
    top: 10px;
    left:10px;
}