#first-p {
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
}

.fineprint {
    font-size: large;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p {
    color:aqua;
}

* {
    padding: 10px;
}