// Main div 
.main {
    width: 70%;
    margin: auto;
    border-color: rgb(14, 177, 226);
    border-style: solid;
    border-radius: 7px;
    margin-top: 5px;
}

// Div containing todo
.container {
    width: 99%;
    margin: auto;
    margin-top: 10px;
    border: 1em, rgb(223, 223, 223);
    background-color: white;
    border-radius: 7px;
}