@use 'sass:color';

$txtColorW : white;
$bgColorW : white;
$fontSizeL : large;
$borderN : none;
$buttonColorB : rgb(0, 130, 186);
$buttonColorG : rgb(8, 78, 55);
$hoverColor : rgb(0, 100, 255);
$linkTxtDecoration : none;